@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #fdfdfd;
  --card: #181d27;
  --card-foreground: #fdfdfd;
  --popover: #181d27;
  --popover-foreground: #fdfdfd;
  --primary: #6600eb;
  --primary-foreground: #ffffff;
  --secondary: #252b37;
  --secondary-foreground: #fdfdfd;
  --muted: #252b37;
  --muted-foreground: #a4a7ae;
  --accent: #f3ebff;
  --accent-foreground: #6600eb;
  --destructive: #dc2626;
  --border: #414651;
  --input: #414651;
  --ring: #6600eb;
  --radius: 0.5rem;
  --almost-black: #0a0d12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-almost-black: var(--almost-black);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);
  --font-sans: 'Poppins', sans-serif;
}

* {
  border-color: var(--border);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}
